.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(0, 255, 0, 0.1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61fbb3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Login-header {
  background-color: #37474f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #263238;
  color: whitesmoke;
  text-align: center;
  padding: 1rem;
  position: relative;
}

.text {
  color: whitesmoke;
}

.cardd {
  background-color: #263238;
  height: 41rem;
  width: 80rem;
  border-radius: 10px;
}

.cardForm {
  background-color: #263238;
  height: 29rem;
  width: 80rem;
  border-radius: 10px;
}

.page {
  min-height: 100vh;
}

.cardProfile {
  background-color: #263238;
  height: 39rem;
  width: 33rem;
  border-radius: 10px;
}

.cardProfilein {
  background-color: #37474f;
  height: 23rem;
  width: 25rem;
  border-radius: 10px;
}

.textm {
  background-color: #1de9b6;
}

.textmb {
  background-color: #a7ffeb;
}

.textmf {
  background-color: #a7ffeb;
}

.box {
  box-shadow: 1px 1px 20px rgb(255, 255, 255);
}

.neon {
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

.neon:hover {
  color: #77ffff;
  background: #77ffff;
  box-shadow: 1px 1px 20px rgb(6, 247, 255);
  transition-delay: 0.1s;
}

.neon text {
  position: absolute;
  display: block;
}

.neon text:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #77ffff);
}

.neon:hover text:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.neon text:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #77ffff);
}

.neon:hover text:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.neon text:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #77ffff);
}

.neon:hover text:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.neon text:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #77ffff);
}

.neon:hover text:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.neon1 {
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

.neon1:hover {
  color: #f44336;
  background: #f44336;
  box-shadow: 1px 1px 20px rgb(245, 36, 9);
  transition-delay: 0.1s;
}

.neon1 text {
  position: absolute;
  display: block;
}

.neon1 text:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f44336);
}

.neon1:hover text:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.neon1 text:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f44336);
}

.neon1:hover text:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.neon1 text:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f44336);
}

.neon1:hover text:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.neon1 text:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f44336);
}

.neon1:hover text:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.textAb {
  font-size: 30px;
}
